In [13]:
import pandas as pd

In [15]:
Crime_Data_df = pd.read_csv(r"C:\Users\WIN\Downloads\Crime_Data.csv")

# the columns of the dataframe
# DATE OCC', 'TIME OCC', 'AREA', 'Crm Cd Desc',
print("The columns of the original dataframe", Crime_Data_df.columns.tolist())

The columns of the original dataframe ['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME', 'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes', 'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc', 'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT', 'LON']

In [21]:
## lets cut the columns to 4 for readability

In [42]:
Crime_df = Crime_Data_df[[ 'DATE OCC', 'TIME OCC', 'AREA', 'Crm Cd Desc']]

In [44]:
columns_list = Crime_df.columns.tolist()
print(columns_list)

['DATE OCC', 'TIME OCC', 'AREA', 'Crm Cd Desc']

In [ ]:
## Forget that you have to put the .Head command

In [46]:
import pandas as pd

column_df = pd.DataFrame({'Columns': Crime_df.columns})

# Print the DataFrame as a table
print(column_df.to_markdown(index=False, numalign='left', stralign='left'))

| Columns     |
|:------------|
| DATE OCC    |
| TIME OCC    |
| AREA        |
| Crm Cd Desc |

In [48]:
Crime_df.head()

,DATE OCC,TIME OCC,AREA,Crm Cd Desc
0,03/01/2020 12:00:00 AM,2130,7,VEHICLE - STOLEN
1,02/08/2020 12:00:00 AM,1800,1,BURGLARY FROM VEHICLE
2,11/04/2020 12:00:00 AM,1700,3,BIKE - STOLEN
3,03/10/2020 12:00:00 AM,2037,9,SHOPLIFTING-GRAND THEFT ($950.01 & OVER)
4,08/17/2020 12:00:00 AM,1200,6,THEFT OF IDENTITY

In [82]:
Crime_df.sort_values('DATE OCC')

,DATE OCC,TIME OCC,AREA,Crm Cd Desc
178970,01/01/2020 12:00:00 AM,1405,11,THEFT OF IDENTITY
171091,01/01/2020 12:00:00 AM,1500,17,THEFT OF IDENTITY
69680,01/01/2020 12:00:00 AM,200,12,ROBBERY
69623,01/01/2020 12:00:00 AM,130,14,VANDALISM - MISDEAMEANOR ($399 OR UNDER)
69580,01/01/2020 12:00:00 AM,1200,13,"SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W..."
...,...,...,...,...
768451,12/31/2023 12:00:00 AM,1200,3,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI..."
817165,12/31/2023 12:00:00 AM,700,4,THEFT PLAIN - PETTY ($950 & UNDER)
872119,12/31/2023 12:00:00 AM,2325,13,VANDALISM - MISDEAMEANOR ($399 OR UNDER)
654410,12/31/2023 12:00:00 AM,2056,13,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA..."
767610,12/31/2023 12:00:00 AM,100,1,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)

In [ ]:
## Sorted the crimes by Date