In [235]:
import pandas as pd

In [236]:
# read as CSV

In [237]:
df = pd.read_csv(r'C:\Users\WIN\Downloads\Food_Attractions.csv')

In [238]:
df

,Id,City and Country,Temperature,Date,Outlook,Attraction,Food
0,1.0,"New York City, United States",71F to 59F,10/3/2024,Cloudy,Statue of Liberty,Bagel
1,2.0,"Sydney, Australia",22C to 18C,10/3/2023,Rainy,Sydney Opera House,Oyster
2,3.0,"Chicago, United States",75F to 68F,10/5/2024,Sunny,Millennium Park,Deep Dish
3,4.0,"New York City, United States",75F to 54F,10/5/2024,Sunny,Brooklyn Bridge,Pizza
4,5.0,"São Paulo, Brazil",17C to 14C,10/4/2024,Rainy,Ibirapuera Park,Feijoada
5,6.0,"Shanghai,",21C to 18C,8/7/2024,Rainy,Oriental Pearl TV Tower,Steamed Soup Dumplings
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,China,NaN,NaN,NaN,NaN,NaN

In [239]:
df.dropna(inplace=True)

In [240]:
#Remove nan values

In [241]:
df.drop(df.columns[[0, 1]], axis=1, inplace=True)

In [242]:
#remove id column

In [252]:
print(df)

  Temperature       Date Outlook               Attraction  \
0  71F to 59F  10/3/2024  Cloudy        Statue of Liberty
1  22C to 18C  10/3/2023   Rainy       Sydney Opera House
2  75F to 68F  10/5/2024   Sunny          Millennium Park
3  75F to 54F  10/5/2024   Sunny          Brooklyn Bridge
4  17C to 14C  10/4/2024   Rainy          Ibirapuera Park
5  21C to 18C   8/7/2024   Rainy  Oriental Pearl TV Tower

                     Food
0                   Bagel
1                  Oyster
2               Deep Dish
3                   Pizza
4                Feijoada
5  Steamed Soup Dumplings