In [200]:
import pandas as pd

In [201]:
#Import the CSV

In [202]:
df = pd.read_csv(r'C:\Users\WIN\Downloads\Park_Events.csv')

In [203]:
df

,Unit,Group Name/ Partner,Date-time,borough,location,event,event type
0,Recreation,NYC_Events,4/12/2018 6pm,Manhattan,Rec center,Bowling,Sport
1,Recreation,NYC_Events,1/20/2018 4pm,Manhattan,Rec center,Bowling,Sport
2,Recreation,Museum,3/15/2018 3pm,Bronx,Columbus park,Antiques,Walk
3,Recreation,NYC_Events,4/15/2018 7pm,Brooklyn,Prospect Park,Flag toss,Sport
4,Recreation,Gallery,4/23/2018 5pm,Manhattan,Noma,Art,Walk

In [204]:
df.dropna()

,Unit,Group Name/ Partner,Date-time,borough,location,event,event type
0,Recreation,NYC_Events,4/12/2018 6pm,Manhattan,Rec center,Bowling,Sport
1,Recreation,NYC_Events,1/20/2018 4pm,Manhattan,Rec center,Bowling,Sport
2,Recreation,Museum,3/15/2018 3pm,Bronx,Columbus park,Antiques,Walk
3,Recreation,NYC_Events,4/15/2018 7pm,Brooklyn,Prospect Park,Flag toss,Sport
4,Recreation,Gallery,4/23/2018 5pm,Manhattan,Noma,Art,Walk

In [205]:
#Drop Nan values

In [206]:
df = df.rename(columns = {'Group Name/ Partner': 'Affiliate'})

In [207]:
#Rename columns

In [208]:
df

,Unit,Affiliate,Date-time,borough,location,event,event type
0,Recreation,NYC_Events,4/12/2018 6pm,Manhattan,Rec center,Bowling,Sport
1,Recreation,NYC_Events,1/20/2018 4pm,Manhattan,Rec center,Bowling,Sport
2,Recreation,Museum,3/15/2018 3pm,Bronx,Columbus park,Antiques,Walk
3,Recreation,NYC_Events,4/15/2018 7pm,Brooklyn,Prospect Park,Flag toss,Sport
4,Recreation,Gallery,4/23/2018 5pm,Manhattan,Noma,Art,Walk

In [209]:
#split  Date and time

In [223]:
df['Date-time'].str.split(pat = '-')

0    [4/12/2018 6pm]
1    [1/20/2018 4pm]
2    [3/15/2018 3pm]
3    [4/15/2018 7pm]
4    [4/23/2018 5pm]
Name: Date-time, dtype: object

In [233]:
df['Date-time'].str.split(pat = '-').str[0]

0    4/12/2018 6pm
1    1/20/2018 4pm
2    3/15/2018 3pm
3    4/15/2018 7pm
4    4/23/2018 5pm
Name: Date-time, dtype: object

In [225]:
df['Date'] = df['Date-time'].str.split(pat = '-').str[0]

In [227]:
df['time'] = df['Date-time'].str.split(pat = '-').str[1]